<div id="mainPage" class="col-md-12" data-ng-init="initMap()">
  <div class="row" id="mainPageHeader">
    <div class="col-md-12">
      <h2 class="" id="mainPageTitle">Etsi kouluja läheltäsi</h1>
  </div>
</div>

<div class="container">   
   <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 form-group" id="searchArea" >
      <input type="text" class="form-control" placeholder="Kirjoita osoite" id="searchBar" ng-model="searchQuery" ng-keyup="$event.keyCode == 13 && mapSearch()">
      <input class="form-control btn btn-default col-sm-12 col-md-12 col-lg-12 col-xl-12" type="submit" ng-click="mapSearch()" value="Hae">
  </div>
</div>
<div class="row">
    <div class="col-md-8" id="map"></div>
    <div class="col-md-4" id="infoArea">
        <div id="schoolInfo">
            <h3 id="schoolTitle"></h3>
            <img id="schoolPic">
            <p id="schoolDesc"></p>
            <button class="btn btn-default" ng-show="">Apply</button>
        </div>
    </div>
</div>
</div>

<hr>

<footer>
    <p>&copy; Company 2017</p>
</footer>
</div>