<div id="mainPage">
  <div class="row" id="mainPageHeader">
    <div class="col-md-12">
      <h1 class="display-3" id="mainPageTitle">Kouluhaku</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12" id="secondNav">
        <h2>Toinen navigointipalkki tässä</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" id="map"></div>
      <div class="col-md-1"> </div>
      <div class="col-md-4" id="schoolInfo">
        <h2>Here will be information of school</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-1"> </div>
    </div>

    <hr>

    <footer>
      <p>&copy; Company 2017</p>
    </footer>
  </div>
</div>