<div id="navbar" class="col-md-12" ng-controller="LoginController">
	<nav class="navbar navbar-custom navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img id ="helsinki-logo" src="../assets/images/helsinki-logo-2017.png" class="d-inline-block align-top" alt="">
			</a>
			<div class="collapse navbar-collapse" >
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<input type="button" id="logoutBtn" class="btn btn-default" value="Kirjaudu ulos" ng-show="loggedIn" ng-click="logout();">
						<input type="button" id="loginBtn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" value="Kirjaudu sisään" ng-hide="loggedIn">
						<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
							<li>
								<div class="row">
									<div class="col-md-12">
										<form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
											<div class="form-group">
												<label class="sr-only">Käyttäjänimi</label>
												<input type="text" class="form-control" id="usernameInput" placeholder="Käyttäjänimi" required>
											</div>
											<div class="form-group">
												<label class="sr-only">Salasana</label>
												<input type="password" class="form-control" id="passwordInput" placeholder="Salasana" required>
											</div>
											<div class="checkbox">
												<label>
													<input type="checkbox"> Muista salasanani
												</label>
											</div>
											<div class="form-group">
												<button type="button" class="btn btn-success btn-block" ng-click="login();">Kirjaudu</button>
											</div>
										</form>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<input class="btn btn-primary btn-block" type="button" id="signup" value="Rekisteröidy">
								<a href="">Unohtuiko salasana?</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>

	</nav>

	<div class="row" id="secondNavDiv">
		<div class="col-md-12" id="secondNav">
			<div class="pull-left" id="navigationButtons">
				<input type="button" class="btn btn-default" value="Koulukartta" ng-show="state.is('info')" ui-sref="map">
				<input type="button" class="btn btn-default" value="Henkilötiedot" ng-show="loggedIn" ui-sref="info">
			</div>

			<div class="alert alert-danger col-md-6 col-lg-6 col-xl-6 col-sm-12" id="inputAlert">
				<strong>Virhe!</strong> Haullasi ei löytynyt osoitetta, kokeile uudelleen toisella hakusanalla.
			</div>

			<div class="form-group pull-right" id="selectDiv" ng-show="loggedIn">
				<select class="form-control" id="childSelect">
					<option id="child-{{$index}}" ng-repeat="child in parent.children">{{child.name}}</option>
				</select>
			</div>
		</div>
	</div>
</div>
