body {
	padding-top: 60px;
}

html {
	background-color: #0272C6;

}

#mainPage {
	background-color: #0272C6;
}

#mainPageTitle {
	color: #ffffff;
}

#mainPageHeader {
	text-align: center;
}

#inputAlert {
	display: none;
	word-wrap: break-word;
}

#infoArea {
	background-color: #ffffff;
}

#filterArea {
	background-color: #000000;
}

.checkbox {
	padding: 10px;

}

#checkbox-all {
	color: #ffffff;
}

#checkbox-finnish {
	color: #0000ff;
}

#checkbox-swedish {
	color: #cccc00;
}
#checkbox-english {
	color: #ff0000;
}

/* Search bar styling */
#searchBar {
	text-align: center;
	/* Location icon on the right side of search bar */
	background-image: url('../assets/images/location-icon.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right center;
}

.container-1 {
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.container-1 .icon {
	position: absolute;
	top: 50%;
	margin-left: 10px;
	margin-top: -10px;
	z-index: 1;
	color: #4f5b66;
}
/* End search bar styling */


#schoolDesc {
	word-wrap: break-word;
}

#schoolPic {
	width: 100%;
	max-height: 300px;
}

@-webkit-keyframes
pulse
{
	0%
	{
		opacity: 1.0;

	}
	45%
	{
		opacity: .20;

	}
	100%
	{
		opacity: 1.0;

	}
}
@-moz-keyframes
pulse
{
	0%
	{
		opacity: 1.0;
	}
	45%
	{
		opacity: .20;

	}
	100%
	{
		opacity: 1.0;
	}
}

#map_graphics_layer {
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: pulse;
}

#map {
	height: 500px;
	width: 100%;
	overflow: hidden;
	float: left;
	border: thin solid #333;
}
