body { padding-top: 60px; }

#mainPage {
	background-color: #0272C6;
}

#mainPageTitle {
	color: #ffffff;
}

#mainPageHeader {
	text-align: center;
}

#secondNav {
	background-color: #ffffff;
	margin-bottom: 10px;
}

#infoArea {
	background-color: #ffffff;
}

#searchBar {
	text-align: center;
}

@-webkit-keyframes
pulse
{
	0%
	{
		opacity: 1.0;

	}
	45%
	{
		opacity: .20;

	}
	100%
	{
		opacity: 1.0;

	}
}
@-moz-keyframes
pulse
{
	0%
	{
		opacity: 1.0;
	}
	45%
	{
		opacity: .20;

	}
	100%
	{
		opacity: 1.0;
	}
}

#map_graphics_layer {
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: pulse;
}

#map {
	height: 500px;
	width: 100%;
	overflow: hidden;
	float: left;
	border: thin solid #333;
}

#capture {
	float:bottom:;
}