body {
	padding-top: 60px;
}

/* Activate custom fonts */
html *{
	font-family: Grotesk;
}

/* Regular font*/
@font-face {
	font-family: Grotesk;
	src: url("../../assets/fonts/HKGrotesk-Regular.woff") format("woff"), 
	url("../../assets/fonts/HKGrotesk-Regular.ttf") format("truetype");
}

/* Bolded font*/
@font-face {
	font-family: Grotesk;
	src: url("../../assets/fonts/HKGrotesk-Bold.woff") format("woff"), 
	url("../../assets/fonts/HKGrotesk-Bold.ttf") format("truetype");
	font-weight: bold;
}

#mapWrapper {
	position: relative;
}

#map {
	height: 500px;
	width: 100%;
	overflow: hidden;
	float: left;
	border: thin solid #333;
}

.overMap {
	position: absolute !important;
	z-index: 3 !important;
}

/* Info area style */
#infoArea {
	background-color: #ffffff;
	right: 15px;
	top: 10px;
	box-shadow: 10px 10px 5px #888888;
	max-height: 480px;
}

@media (max-width: 767px) {
	#infoArea {
		left: 0px !important;
		box-shadow: none;
		border: rgba(0,0,0,.15);
		position: initial !important;
	}

	#schoolPic {
		max-height: 250px;
		max-width: 300px;
	}
}

#schoolDesc {
	word-wrap: break-word;
	margin-top: 5px;
}

#schoolPic {
	width: 100%;
	max-height: 180px;
}

#applyBtn {
	margin-bottom: 10px;
}
/* Info area end */

/* Search style */
#searchArea {
	left: -5px;
} 

#searchTitle {
	margin-top: 3px;
	margin-bottom: 3px;
	position: relative;
	left: 7px;
}

#searchBar {
	padding-left: 30px;
}

#searchIcon {
	position: absolute;
	margin-left: 10px;
	margin-top: 7px;
	z-index: 5;
}

.btn-secondary {
	border: 1px solid rgba(0,0,0,.15) !important;
}

/* End search styling */

/* Filter area style */
#filterArea {
	top: 75px;
}

.filterButton {	
	background-color: #ffffff;
	width: 100%;
	color: #000000;
	border: solid 0.5px black;
}

button.activated {
	background-color: red;
	color: red;
}

/* End filter area styling */

footer {
	text-align: center;
}