.navbar-custom {
	background-color: #0072C6;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #ffffff;
}

.icon-bar {
	background-color: #ffffff !important;
}

.navbar-right a {
	text-decoration: none;
	background-color: transparent !important;
}

#loginBtn, #logoutBtn{
	position: relative;
	right: 10px;
	top: 5px;
}

#secondNavDiv {
	height: 60px;
}

#secondNav {
	background-color: #ffffff;
	margin-bottom: 10px;
	vertical-align: middle;
}

#secondNav *{
	top: 5px;
	position: relative
}

#childSelect {
	height: 75%;
}

#helsinki-logo {
	height: 40px;
	position: relative;
	top: -10px;
}